@inherits LayoutComponentBase

<PageTitle>Survey App</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span>App in development, bugs might appear...</span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
